# paths
Build/ipch/
Build/.vs/
Lib/
Bin/
Depend/
CMakeFiles


# files
.tags
CMakeCache.txt
*.o
*.d
*.a
*.lib
*.bin
*.dll
*.pdb
*.exe
*.log
*.iobj
*.ipdb
*.ilk
*.db
*.user
*.cmake
*.opendb
cscope*.out
